<div id="welcome">

<h1>twitter!!</h1>

<table class="table table-striped table-hover ">

   <% @tweets.each do |tweet| %>
   <tr class="active">
	<td width="5%">
	   <img alt="img" height="40" width="40" src="<%= tweet.image %>" />
	</td>
	
	<td width="80%">
	   <%= link_to tweet.content, tweet_path(tweet.id) %>
	   &nbsp
	   <span class="label label-primary">
	      <%= tweet.likes.count %>
	   </span>
	</td>
	  
	<td>
	   <%= link_to tweet_path(tweet.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
		Delete
	   <% end %>
	</td>
   </tr>

   <% tweet.retweets.each do |retweet| %>
   <tr class="warning">
	<td>
	   <img alt="img" height="40" width="40" src="<%= retweet.image %>" />
	</td>
      
        <td>
	   <%= tweet.content %>
	   <br>
	   <span class="label label-warning">comment</span>
	      <%= retweet.comment %>
	</td>
	
	<td>
	   <%= link_to tweets_path(tweet.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
	      Delete
	   <% end %>
	</td>
   </tr>
   <% end %>
   <% end %>
</table>

<br>
<%= link_to new_tweet_path, class: "btn btn-primary" do %>
    Tweet
<% end %>

</div>
