
<h1>retweet?</h1>
(retweets_show_thml)<br>
<br>

##
<br>
tweet_id: <%= @retweet.id %><br>
t_id: <%= @retweet.user_id %><br>  
content: <%= @retweet.content %><br>
user_id:<%= current_user.user_id %><br>
##
	
<%= form_for @retweet, :url => {:action => 'update'} do |f| %>
	<%= f.hidden_field :tweet_id, :value => @retweet.id %>
	<%= f.hidden_field :t_id, :value => @retweet.user_id %>
	<%= f.hidden_field :content, :value => @retweet.content %>
	<%= f.hidden_field :user_id, :value => current_user.user_id %>
	<br>
	<%= f.submit 'YES' %>
<% end %>
<%= link_to "NO", tweets_path %>
