<% tweet_count = Tweet.where(user_id: current_user.id).count %>
<% retweet_count = Retweet.where(user_id: current_user.id).count %>
<% comment_count = Comment.where(user_id: current_user.id).count %>
<% tweets_count = tweet_count + retweet_count + comment_count %>

<div class="col-md-3">
<br>
	<div class="row">
	  <img alt="img" class="img-thumbnail" height="220" width="220" src="<%= current_user.image %>" />
		  <h3><%= current_user.username %></h3>
			@<%= current_user.userId %>
	</div>	
	
</div>


<div class="col-md-6">
<hr>
<div class="row">
	<div class="col-md-2">
		<h6><%= link_to "TWEETS", tweet_pages_path %></h6>
		<h4><center><%= tweets_count %></center></h4>
	</div>
	<div class="col-md-2">
		<h6><%= link_to "FOLLOWINGS", following_pages_path %></h6>
		<h4><center><%= Follow.where(user_id: current_user.id).count %></center></h4>
	</div>	
	<div class="col-md-2">
		<h6><%= link_to "FOLLOWERS", followers_pages_path %></h6>
		<h4>
			<center><%= Follow.where(follow_id: current_user.id).count %></center>
		</h4>
	</div>	
</div>
	
<hr>
<table class="table table-striped table-hover">  
	<% Hash[@tweets_page_hash].values.each do |tweet| %>
		<% if tweet.kind_of?(Tweet) %>	
			<tr class="info">
				<td width="5%">
				   <img alt="img" height="60" width="60" src="<%= tweet.user.image %>" />
				</td>
				
				<td>
					<strong><%= tweet.user.userId %></strong>&nbsp&nbsp
					@<%= tweet.user.username %>&nbsp・
					<%= tweet.created_at %>
					<br>
				    <h4>
						<%= tweet.content %>&nbsp
					</h4>
					
					<!-- button -->
					<span class="label label-info">
						<%= link_to 'Reply', new_tweet_comment_path(tweet.id, @tweet) %>
					</span>&nbsp
		   
					<span class="label label-info">
						<%= link_to 'Retweet', new_tweet_retweet_path(tweet.id, @tweet) %>			  
					</span>&nbsp

					<span class="label label-info">
						<% if Like.new.likable_for?(current_user, tweet) %>
							<%= link_to 'Favorite', tweet_like_path(tweet.id, id: tweet.id), :method => :delete %>
						<% else %>
							<%= link_to 'Favorite', tweet_likes_path(tweet_id: tweet.id), method: :post %>
						<% end %>
						<%= tweet.likes.count %>
					</span>
				</td>		
					
				<td>
					<%= link_to tweet_page_path(tweet.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
					Delete
					<% end %>
				</td>
			</tr>
			
			<% tweet.comments.each do |comment| %>
				<tr class="active">
					<td>
					   <img alt="img" height="40" width="40" src="<%= comment.image %>" />
					</td>
				  
					<td>
					   <strong><%= comment.username %></strong>&nbsp&nbsp
					   @<%= comment.username %>&nbsp・
					   <%= comment.created_at %>
					   <br>
					   <span class="label label-default">comment</span> &nbsp<%= comment.comment %>
					</td>
				
					<td>
					   <%= link_to tweet_comment_path(comment.tweet_id, comment.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
						  Delete
					   <% end %>
					</td>
			   </tr>
	   <% end %>
			
		
		<% else %>
		<!-- retweet -->
			<tr class="warning">
				<td width="5%">
				   <img alt="img" height="50" width="50" src="<%= tweet.user.image %>" />
				</td>
				
				<td>
					<strong><%= tweet.user.userId %></strong>
					@<%= tweet.user.username %>&nbsp&nbsp
					<%= tweet.created_at %>
					<br>
					<span class="label label-warning">retweet</span> &nbsp<%= tweet.content %>
				</td>
				
				<td>
				    <%= link_to tweet_retweet_path(tweet.tweet_id, tweet.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } do %>
					   Delete
				    <% end %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>
</div>


<div class="col-md-3">
	<h3>How to follow</h3>
	<% @users.each do |user| %>
		<div class="row">
		<table>
			<tr>
				<td rowspan="2" class="col-md-1">
					<img alt="img" class="img-rounded" height="55" width="55" src="<%= user.image %>" />
				</td>
				<td>
					<strong><%= user.username %></strong> @<%= user.userId%>
				</td>
			</tr>
			<tr>
				<td>
					<% if Follow.new.able?(current_user, user) %>		
						<%= link_to 'UnFollow', tweet_follow_path(user.id, id: current_user.id), method: :delete, class: "btn btn-default btn-sm", data: { confirm: "Are you sure?" } %>
					<% else %>
						<%= link_to 'Follow', tweet_follows_path(tweet_id: user.id), method: :post, class: "btn btn-default btn-sm" %>
					<% end %>
				</td>
			</tr>
			<hr>
		</table>
		</div>
	<% end %>
</div>