<% tweet_count = Tweet.where(user_id: current_user.id).count %>
<% retweet_count = Retweet.where(user_id: current_user.id).count %>
<% comment_count = Comment.where(user_id: current_user.id).count %>
<% tweets_count = tweet_count + retweet_count + comment_count %>

<div class="col-md-3">
	<br>
	<div class="row">
	  <img alt="img" class="img-thumbnail" height="220" width="220" src="<%= current_user.image %>" />
		  <h3><%= current_user.username %></h3>
			@<%= current_user.userId %>
	</div>	
	<br><br>
	<h3>How to follow</h3>
	<% @users.each do |user| %>
		<div class="row">
		<table>
			<tr>
				<td rowspan="2" class="col-md-1">
					<img alt="img" class="img-rounded" height="55" width="55" src="<%= user.image %>" />
				</td>
				<td>
					<strong><%= user.username %></strong> @<%= user.userId%>
				</td>
			</tr>
			<tr>
				<td>
					<% if Follow.new.able?(current_user, user) %>		
						<%= link_to 'UnFollow', tweet_follow_path(user.id, id: current_user.id), method: :delete, class: "btn btn-default btn-sm", data: { confirm: "Are you sure?" } %>
					<% else %>
						<%= link_to 'Follow', tweet_follows_path(tweet_id: user.id), method: :post, class: "btn btn-default btn-sm" %>
					<% end %>
				</td>
			</tr>
			<hr>
		</table>
		</div>
	<% end %><br><br><br><br><br>
</div>



<div class="col-md-8">
<hr>
<div class="row">
	<div class="col-md-1">
		<h6><%= link_to "TWEETS", tweet_pages_path %></h6>
		<h4>&nbsp&nbsp&nbsp&nbsp<%= tweets_count %></h4>
	</div>
	<div class="col-md-2">
		<h6>&nbsp&nbsp&nbsp
		<%= link_to "FOLLOWINGS", following_pages_path %></h6>
		<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<%= Follow.where(user_id: current_user.id).count %></h4>
	</div>	
	<div class="col-md-1">
		<h6><a href="#">FOLLOWERS</a></h6>
		<h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= Follow.where(follow_id: current_user.id).count %></h4>
	</div>	
</div>


<hr>
<div class="row">
	<% Hash[@follower_users_hash].values.each do |user| %> 
		<div class="col-sm-4">
			<div class="row">
				<div class="col-xs-8 col-sm-7">
					<img alt="img" class="img-rounded" height="70" width="70" src="<%= user.image %>" >
				</div>
				<br><br>
				<div class="col-xs-4 col-sm-3">
					<% if Follow.new.able?(current_user, user) %>		
						<%= link_to 'UnFollow', tweet_follow_path(user.id, id: current_user.id), method: :delete, class: "btn btn-default btn-sm", data: { confirm: "Are you sure?" } %>
					<% else %>
						<%= link_to 'Follow', tweet_follows_path(tweet_id: user.id), method: :post, class: "btn btn-default btn-sm" %>
					<% end %>
				</div>
			</div>
			<h4><strong><%= user.username %></strong></h4>
			<h6>@<%= user.userId %></h6>
			<hr>
		</div>
	<% end %>
</div>
